@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:  rgb(221, 177, 97);
    --second-bg-color:rgb(202, 0, 61);
    --text-color: #ffffff;
    --main-color: black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url(imgs/homeimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:2000px 2000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    height:1000px;
    background-position: center;
}

.body {
    background-image:var(--bg-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img.logoicon{
  height:15rem;
  top:-9rem;
}

.logo {
    height: 3rem;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    text-transform: uppercase;
}

.navbar a:hover,
.navbar a.active {
    color: var(--second-bg-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('home.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 75rem;
    background-color: rgba(247, 199, 108, 0.7);
    padding: 50px;
    border-radius: 0rem 10rem 10rem 0rem;
    position:absolute;
    bottom: 13rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #CC073E;
    
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box .btn:hover {
    color: var(--second-bg-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);

}

.btn-box .btn:nth-child(2)::before {
    background-color: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}



.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}
/*...................................................................................*/
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color:rgba(241, 241, 241, .5);
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  /*........................................................................*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
}

.heading {
    position:relative;
    font-size: 5rem;
    top:2rem;
    bottom: 10rem;
    text-align: center;
}

span {
    color: var(--second-bg-color);
}

.about-img {
    position: absolute;
    left:20%;
    right:70%;
    border-radius: 50%;
    display: flex;
    justify-content: auto;
    align-items: auto;
}

.mySlides{
    height: 40rem;
    width: 35rem;
    border: 1.5rem  var(--main-color);
    border-radius: 50% 50% 50% 50%;
    border-style: dotted dashed solid double;
    border-color: var(--bg-color);
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme {
    font-size: 2rem;
    text-align: justify;
}

.about-content {
    text-align: left;
    width: 50%;
    left:0;
    position: absolute;
    margin: 1rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.bb{
    height: 2rem;
    width: 2rem;
}

/*.......................................................................*/

.skillapp{
    height: 11.5rem;
    width: 11.5rem;
   border-radius: 50rem 50rem 50rem 50rem;
  align-items: center;
  border-style: dotted dashed solid double ;
  border-color: var(--bg-color);
  border-width: 1rem;
  margin: 4rem 2.5rem 1rem 2.5rem;
}


.education {
    display: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
}

.education-content .content p {
    font-size: 13px;
    padding-top: .5rem;
}

.education-content .content h3 {
    font-size: 18px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 100rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

 .year {
    font-size: 1.3rem;
    color: var(--main-color);
    padding: .5rem;
}

 .year i {
    padding-right: .5rem;
}

.schools {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    top: 500rem;
   margin: 0rem 5rem 0rem 5rem;
}

/*skills...................................................................................*/

.skills {
    min-height: auto;
    padding-bottom: 15rem;
    background: var(--bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 3rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 2.5rem 2.5rem;
    z-index: 1;
    overflow: hidden;
    top:.3rem;

}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 3rem;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
    width: 100%;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 15%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 1000px) {
    .skills-column {
      flex-direction: column;
    }
  }

  /* profile............................................................................................*/
 
  .skillss{
    height: 10rem;
    width: 10rem;
   border-radius: 50rem 50rem 50rem 50rem;
  align-items: center;
  border-style: dotted dashed solid double;
  border-color: var(--bg-color);
  border-width: 1rem;
  margin-top: 3rem;
}

.profile {
    min-height: auto;
    padding-bottom: 15rem;
    background: var(--bg-color);
  
}

.profile .profile-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.profile-row .profile-column {
    flex: 1 1 40rem;
}

.profile-column .title {
    font-size: 3rem;
    margin: 0 0 1.5rem;
}

.profile-box .profile-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 2.5rem 2.5rem;
    z-index: 1;
    overflow: hidden;
    top:5rem;

}

.profile-box .profile-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.profile-box .profile-content:hover::before {
    width: 100%;
}

.profile-content .progress {
    padding: 1rem 3rem;
}

.profile-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.profile-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.profile-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/*...scrollable Photo gallery.....................................................................................*/

.artworks {
    background-color: var(--bg-color);
    align-items: center;
    align-content: center;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius:20px;
  }

  video {
    max-width: 100%;
    height: auto;
    border-radius:20px;
    padding-top: 1rem;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
/*.................................................................................*/
.swiper-container {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 5px;
    height: 450px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #000600);
}

.contact {
    min-height: auto;
    padding: 15rem;
}

.contact form {
    max-width: 100rem;
    margin: 0 auto;
    align-items: center ;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}